main {
    form {
        padding: 1rem;
        max-width: 250px;
        margin: 0 auto 1rem auto;
    }
}

.alert {
    margin-top: 1rem;
}

.error-msg {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 5px;
    color: var(--nav-a-hover-color);

    p {
        width: fit-content;
    }
}